---
namespace: moodle
resources:
  - ../../base
configMapGenerator:
  - name: nginx-config
    files:
      - default.conf=serverconfig/default.conf
  - name: php-ini
    files:
      - php.ini=serverconfig/php.ini
  - name: www-conf
    files:
      - www.conf=serverconfig/www.conf
secretGenerator:
  - name: config-php
    files:
      - config.php=serverconfig/config.php
images:
  - name: moodle-sample
    newName: ${image_name}
    newTag: ${image_tag}
